{% extends "KunstmaanViewBundle::layout.html.twig" %}

{% block mainclass %}zoek{% endblock %}

{% block content %}
	{% set count=0 %}
	{% if results %}
		{% set count=results.count %}
	{% endif %}
	 
	<h1>{{ 'Zoekresultaten' | trans }}</h1> 
	 
	<h2>{{ count }} {% if count == 1 %}resultaat{% else %}resultaten{% endif %} voor <strong>{{ query }}</strong></h2>
    
{% if results.getNbPages() > 1 %}
    <div class="paginatie clearfix">
       	{% if results.hasPreviousPage() %}
       		<p><a href="{{ path(app.request.attributes.get('_route'), { 'query': query, 'page': results.getPreviousPage() }) }}">{{ 'Vorige' | trans}}</a></p>
		{% endif %}	
			<ul class="clearfix">
				{% for i in 1..results.getNbPages()%}
					{% if results.getNbPages()>5 %}
						{% if results.getCurrentPage() == 1 or results.getCurrentPage() == 2 or results.getCurrentPage() == 3 %}
							{% if i == 1 or i == 2 or i == 3 or i==results.getCurrentPage()+1 or i == results.getNbPages() %}
								<li {% if i == results.getCurrentPage() %}class="active"{% endif %}><a href="{{ path(app.request.attributes.get('_route'), { 'query': query, 'page': i }) }}">{{ i }}</a></li>
							{% else %}
								{% if hellip is not defined %}
									{% set hellip = true %}
									<li class="hellip">...</li>
								{% endif %}	
							{% endif %}
						{% else %}
							{% if i==1 or i == results.getCurrentPage()-1 or i == results.getCurrentPage()+1 or i == results.getCurrentPage() or i == results.getNbPages()%}
								<li {% if i == results.getCurrentPage() %}class="active"{% endif %}><a href="{{ path(app.request.attributes.get('_route'), { 'query': query, 'page': i }) }}">{{ i }}</a></li>
							{% else %}
								{% if i < results.getCurrentPage() and hellipleft is not defined %}
									{% set hellipleft = true %}
									<li class="hellip">...</li>
								{% endif %}
								{% if i > results.getCurrentPage() and hellipright is not defined %}
									{% set hellipright = true %}
									<li class="hellip">...</li>
								{% endif %}
							{% endif %}	
						{% endif %}
					{% else %}
						<li {% if i == results.getCurrentPage() %}class="active"{% endif %}><a href="{{ path(app.request.attributes.get('_route'), { 'query': query, 'page': i }) }}">{{ i }}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
    	{% if results.hasNextPage() %}
       		<p><a href="{{ path(app.request.attributes.get('_route'), { 'query': query, 'page': results.getNextPage() }) }}">{{ 'Volgende' | trans}}</a></p>
		{% endif %}	
    </div>
{% endif %}
    
    {% if results %}
    	{% for result in results %}
        	<h3><a href="{{ path('_slug', { 'slug': result.slug }) }}">{{ result.title }}</a></h3>
        	<p>
        		
        	</p>
        	<p class="toplink"><a href="#">{{ 'Top' | trans }}</a></p>
        {% endfor %}
    {% else %}
        No results available.
    {% endif %}
{% endblock %}
				